body {
    text-align: center;
    background-image: url("water death.jpg");
    background-color: #cccccc;
    
  }
  div {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .mmxv {
    
    margin: 45px;
    height: 550px;
    width: 550px;
    color: rgb(248, 246, 246);
    background-image: URL(
        'marcelline.png');
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
    