body {
    text-align: center;
    background-image: url("watermelon-background-hd-1920x1200.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#storePage {
    
    
    text-align: left;
    border: 3px solid white;
    padding-top: 19%;
    width: 65%;
    height: 850px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
.itemid {
    text-align: left;

}
.purchase {
    padding-top: 9%;
    width: 65%;
    height: 350px;
}
