body {
    text-align: center;
    /*background-image: url("watermelon-background-hd-1920x1200.jpg");*/
    background-color: grey;
    background-image: url("watermelon-background-hd-1920x1200.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 955%;
}
hr {
    border-width:0;
    color:black;
    background-color:black;
    width: 30%;
    height: 2px;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#storePage {
    
    background-color: white;
    text-align: center;
    border: 3px solid black;
    width: 75%;
    height: 900px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
#storePage a {
    text-decoration: none;
}
.logo {
    float: left;
    color: black;
}
.content img{
    width: 4%;
    height: 30px;
    float: right;
    
}
.content {
    padding-top: 7%;
}
.content a {
    float: right;
    top: 0%;
    right: 0%;
    color: black;

}
.itemId {
    text-align: center;
    width: 100%;
    height: 500px;
    color: black;
    /*background-color: aquamarine;*/

}
.itemId img {
    width: 15%;
    height: 120px;
    
}
.itemId p {
    color: black;
}
.purchase {
    text-align: center;
    /*float: left;*/
    width: 100%;
    height: 120px;
    /*background-color: green;*/
}
#wrapper {
	width: 100%;
	height: 90px;
}

#package1 {
    vertical-align: text-top;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: aqua;*/

}
#package1 img {
    width: 50%;
}
#package2 {
    vertical-align: text-bottom;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: white;*/
}
#package2 img {
    width: 50%;
}
#package3 {
    vertical-align: sub;
    height: 33%;
    width: 33%;
    float: left;
    /*background-color: blue;*/
}
#package3 img {
    width: 50%;
}
