body {
    text-align: center;
    background-image: url("slices-of-watermelon-2210x1473.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border-width:0;
    color:black;
    background-color:black;
    width: 30%;
    height: 2px;
}
#storePage {
    
    
    text-align: center;
    border: 3px solid white;
    padding-top: 6%;
    width: 75%;
    height: 850px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
.itemId {
    color: white;
    text-align: center;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aquamarine;*/

}
.itemId p {
    color: white;
}
.itemId img {
    width: 15%;
    height: 120px;
    
}
#package1 {
    vertical-align: text-top;
    height: 33%;
    /*background-color: aqua;*/

}
#package2 {
    vertical-align: text-bottom;
    height: 33%;
    /*background-color: white;*/
}
#package3 {
    vertical-align: sub;
    height: 33%;
    /*background-color: blue;*/
}
.purchase {
    text-align: center;
    float: left;
    padding-top: 12%;
    width: 100%;
    height: 320px;
    /*background-color: green;*/
}
.shoppingCart img{
    float: right;
    width: 4%;
    height: 30px;
}
.shoppingCart p {
    float: right;
    top: 0%;
    right: 0%;
    color: white;

}

