body {
    text-align: center;
    background-image: url("slices-of-watermelon-2210x1473.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
div {
    /*background-color: black;*/
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#storePage {
    
    
    text-align: center;
    border: 3px solid white;
    padding-top: 5%;
    width: 65%;
    height: 850px;
    /*background-image: URL(
        'water\ death.jpg');*/
}
.itemId {
    text-align: center;
    width: 100%;
    height: 350px;
    /*background-color: aquamarine;*/

}
.purchase {
    text-align: center;
    float: left;
    padding-top: 9%;
    width: 100%;
    height: 320px;
    /*background-color: green;*/
}
.shoppingCart img{
    float: right;
    width: 5%;
    height: 25px;
}
.shoppingCart p {
    float: right;
    top: 0%;
    right: 0%;
    color: white;

}
#package1 {
    vertical-align: text-top;
    height: 33%;
    background-color: aqua;

}
#package2 {
    vertical-align: text-bottom;
    height: 33%;
    background-color: white;
}
#package3 {
    vertical-align: sub;
    height: 33%;
    background-color: blue;
}
